@media all and (-webkit-min-device-pixel-ratio:2) {
	.nav-menu, .nav-search, .nav-sale, .nav-msg {
		background-image:url(../img/nhadat@2x.png);
		-webkit-background-size:180px 100px;
	}
	.btn-call, .btn-sms{
		background-image:url(../img/callsms@2x.png);
		-webkit-background-size:28px 76px;
	}
	.search{
		background-image:url(../img/top@2x.png);
	}
	.i-email, .i-go, .price{
		background-image:url(../img/icon@2x.png);
		-webkit-background-size:120px 240px;
	}
	.search .icon {
		position: absolute;
		top: 11px;
		left: 15px;
	}
}