<div class="row-fluid center" ng-controller="SaleCtrl">
	<div class="span12">
		<form class="sale">
			<div ng-switch="getCurrentStep()" ng-animate="'wave'" class="slide-frame">
				<div ng-switch-when="one">
					<h4>Rao như cách bạn rao trên báo, nhưng chừa lại thông tin địa chỉ và số điện thoại ở bước tiếp theo</h4>
					<div class="control-group">
						<div class="controls">
							<textarea class="input-xlarge" id="textarea" rows="3" placeholder="Cần bán hoặc cho thuê nhà..."></textarea>
						</div>
					</div>
					<div class="control-group">
						<div class="controls">
							<input type="text" class="input-xlarge" name="tag" placeholder="Tag" />
							<p class="help-block">Mỗi tag phân cách bởi dấu "," ví dụ: <i>bán nhà, cho thuê, nhà nguyên căn, giá rẻ</i></p>
						</div>
					</div>
				</div>
				<div ng-switch-when="two">
					<div class="control-group">
						<h4>Xác định vị trí trên bản đồ <button class="btn btn-mini" ng-click="checkin()">Checkin</button></h4>
						<div class="row-fluid">
							<div class="span12">
								<div id="gmap">
									<div class="google-map"
										center="center"
										zoom="zoom"
										markers="markers"
										latitude="latitude"
										longitude="longitude"
										mark-click="true"
										draggable="true"
										fit="false"
										style="height: 210px; width: 100%">
									</div>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
					</div>
				</div>
				<div ng-switch-when="three">
					<div class="control-group">
						<div class="controls">
							<input type="text" class="input-xlarge" name="address1" placeholder="Số nhà" />
							<p class="help-block">Ví dụ: <i>123 hoặc 12/3/4 hoặc Lô A123</i></p>
						</div>
						<div class="controls">
							<input type="text" class="input-xlarge" name="address2" placeholder="Tên đường" />
							<p class="help-block">Ví dụ: <i>Nguyễn Du hoặc Đường số 123</i></p>
						</div>
						<div class="controls">
							<input type="text" class="input-xlarge" name="address3" placeholder="Phường xã, Quận/Huyện, Thành Phố" autocomplete="off" ng-model="keyword" typeahead="v for v in suggests($viewValue) | filter:$viewValue | limitTo:8" require />
							<p class="help-block">Phân cách bởi dấu "," . Ví dụ: <i>Phường 1, Quận 2, TP HCM</i></p>
						</div>
					</div>
				</div>
				<div ng-switch-when="four">
					<h4>Soạn "<b>NHADAT</b>" gởi "<b>1900 642328</b>" để lấy mã xác nhận đăng tin, số điện thoại gởi tin được hiễn thị ở mục liên hệ tin rao</h4>
					<div class="control-group">
						<div class="controls">
							<input type="text" class="input-xlarge" name="code" placeholder="Mã xác nhận số điện thoại" />
							<p class="help-block">Ví dụ: <i>nhadat-123456</i></p>
						</div>
					</div>
				</div>
				<div ng-switch-when="five">
					<h4>Cám ơn bạn đã đăng tin</h4>
				</div>
			</div>
		</div>
		<div>
			<a class="btn" ng-click="handlePrevious()" ng-show="!isFirstStep()"><i class="icon-arrow-left"> Trở lại</i></a>
			<a class="btn btn-primary" ng-click="handleNext(dismiss)">{{getNextLabel()}}</a>
		</div>
	</form>
</div>