<div class="slider">
	<div class="content">
		<div id="Slider" class="carousel slide">
			<ol class="carousel-indicators middle">
				<li ng-repeat="slide in slides" data-target="#Slider" data-slide-to="{{slide.id}}" class="{{slide.active}}"></li>
			</ol>
			<div class="carousel-inner">
				<div class="item" ng-repeat="slide in slides">
					<img ng-src='{{slide.src}}' alt="{{slide.title}}" />
				</div>
			</div>
			<a class="left carousel-control" href="#Slider" data-slide="prev">&lsaquo;</a>
			<a class="right carousel-control" href="#Slider" data-slide="next">&rsaquo;</a>
		</div>
	</div>
</div>
<!-- /Real Estate -->
<div class="slider">
	<div class="content">
		<div ng-controller="CarouselCtrl">
			<carousel interval="myInterval">
				<slide ng-repeat="slide in slides" active="slide.active">
					<img ng-src="{{slide.image}}" style="margin:auto;">
				</slide>
			</carousel>
		</div>
	</div>
</div>